<!-- Barra superior -->
<div class="top-bar">
  <span>Todos os Empréstimos</span>
  <%= link_to 'Voltar', dashboard_path, class: 'btn-back' %>
</div>

<!-- Container da tabela -->
<div class="container-table">
  <% if @loans.any? %>
    <table class="books-table">
      <thead>
        <tr>
          <th>Livro</th>
          <th>Usuário</th>
          <th>Data de Início</th>
          <th>Data de Devolução</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @loans.each do |loan| %>
          <tr>
            <td><%= loan.book.title %></td>
            <td><%= loan.user.email %></td>
            <td><%= loan.start_date ? loan.start_date.strftime("%d/%m/%Y") : "Não definido" %></td>
            <td><%= loan.end_date ? loan.end_date.strftime("%d/%m/%Y") : "Não definido" %></td>
            <td>
              <% if loan.end_date.present? %>
                <span style="color: green; font-weight: bold;">Devolvido</span>
              <% else %>
                <span style="color: red; font-weight: bold;">Alugado</span>
              <% end %>
            </td>
            <td>
              <%= link_to "Editar", edit_loan_path(loan), class: "btn-action" %>
              <%= button_to "Excluir", loan_path(loan), method: :delete, form: { style: "display:inline" }, data: { confirm: "Tem certeza?" }, class: "btn-action delete" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Nenhum empréstimo registrado.</p>
  <% end %>
</div>
